* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #7a553abf;
}

.topbar p {
    padding: 10px;
    font-family: "Yusei Magic", sans-serif;
    margin: 7px;
    background-color: #482d21;
    color: #cfb59e;
    border-radius: 15px;
} 

.welcome-screen {
    background-color: #cfb59e;
    border: 2px solid #4b2e21;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.welcome-screen h1 {
    font-family: "Bagel Fat One", system-ui;
    font-size: 45px;
    color: #4b2e21;
}

.welcome-screen p {
    font-family: "Yusei Magic", sans-serif;
    color: #4b2e21;
    font-size: 20px;
}

#open-welcome {
    cursor: pointer;
}

#close-welcome {
    cursor: pointer;
    border-radius: 100%;
    background-color: #4b2e21;
    width: 20px;
    height: 20px;
    margin: 1px;
    margin-bottom: 0;
    margin-left: auto;
}