* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome-screen {
    background-color: #cfb59e;
    border: 2px solid #4b2e21;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-screen h1 {
    font-family: "Bagel Fat One", system-ui;
    font-size: 35px;
    color: #4b2e21;
}

.welcome-screen p {
    font-family: "Yusei Magic", sans-serif;
    color: #4b2e21;
}